<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <H1>AVALIBLE COURSES :</H1>
        <h1>PYTHON FULL COURSE</h1>
        <h3>1. PYTHON <br>
            2. SQL <br>
            3. Django <br>
            4. HTML <br>
            5. CSS
        </h3>
        <a href="{% url 'something:sai' %}">To click back To sai</a>
    </center>
</body>
</html>